.detailsQrCodeId {
    display: grid;
    grid-template-columns: 365px 1fr;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    border-radius: 4px;
    padding: 1rem;
    margin-top: -10px;

    @media(max-width: 1023px) {
        grid-template-columns: 1fr;
    }

    .detailsContent {
        strong {
            font-weight: 500;
            font-size: 17px;
            color: var(--gray100);
            margin-bottom: 15px;
            display: block;
        }

        p {
            color: var(--gray-300);
            font-size: 14px;
        }

        span {
            padding-bottom: 10px;
            display: block;
            font-weight: 500;
            font-size: 16px;
        }
    }
}